Scenarios/*
!Scenarios/_default/
!Scenarios/_results/
2_ModelScripts/_Python/*.txt
2_ModelScripts/6_REMM/supporting_files/*
1_Inputs/3_Highway/_archive/*


_working-bill/*
**/__pycache__/
*.pyc
_working-bill/intermediate/*
_working-bill/results/*
GPMessages
_working
*.00*
*.bak
*.sr.lock